@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap')
	@layer components {
	.bg-primary {
		background-color: #151516;
	}

	.bg-secondary {
		@apply bg-customGray-light;
	}

	.text-primary {
		@apply text-white;
	}

	.text-secondary {
		@apply text-slate-500;
	}
}

html {
	color-scheme: none !important;
	scroll-behavior: smooth;
}

*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
*::-webkit-scrollbar-track {
  border-radius: 20px;
  background-color: #151516;
}

*::-webkit-scrollbar-track:hover {
  background-color: #151516;
}

*::-webkit-scrollbar-track:active {
  background-color: #151516;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #D95659;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #F87171;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #F87171;
}


a,
div,
button {
	-webkit-tap-highlight-color: transparent;
}

.notion-page-content-has-aside {
	width: 100%;
}

.notion-page {
	max-width: 1088px;
}
