@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap')
	@layer components {
	.bg-primary {
		background-color: #151516;
	}

	.bg-secondary {
		@apply bg-customGray-light;
	}

	.text-primary {
		@apply text-white;
	}

	.text-secondary {
		@apply text-slate-500;
	}
}

html {
	scroll-behavior: smooth;
}

a,
div,
button {
	-webkit-tap-highlight-color: transparent;
}

.notion-page-content-has-aside {
	width: 100%;
}

.notion-page {
	max-width: 1088px;
}
