---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Página não encontrada">
	<div class="mx-auto mt-40 text-center">
		<h2 class="mb-4 text-3xl font-bold">Página não encontrada</h2>
		<a href="/" class="text-red-500 hover:text-red-600">
			<span class="mr-2">&larr;</span>
			<span>Voltar á página inicial</span>
		</a>
	</div>
</BaseLayout>
